h1{
  padding-left: 46%;

} 
.nav{
  padding-right: 30px;
  
}
.header{
z-index: 1;
position: fixed;
top:0;
left: 0;
right: 0;
height: 80px;
color: white;
background-color: grey;
font-weight: bold;
display: flex;
justify-content:space-between;
align-items: center;
padding: 10px;
opacity: 70%;

}

body{
color: white;
margin: 0px;
width: 100%;
height: 100%;
background-color: black;
background-size:100%;
}
h2{

text-align: center;
margin-top: 150px;
}
.box {
width: 400px;
height: 400px; 
border-radius: 70%;
overflow: hidden;
margin-top: 50px;

}
/* #icon-box{
width: 50px;
height: 50px; 
border-radius: 70%;
overflow: hidden;
} */
.profile {
width: 100%;
height: 100%;
object-fit: cover;
}
.profile-flex{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 100%;

}
#icon{
width: 50px;
height: 50px;
object-fit: cover;
border-radius: 70%;
align-content: center;
margin-top: 30px;
margin-left: 15px;
}
.footer{
background-color: blanchedalmond; height: 100px;
margin-top: 100px;
}
#profile-img{

width: 600px;
height: 600px;
}
* {margin:0;padding:0;}
.section input[id*="slide"] {display:none;}
.section .slidewrap {max-width:600px;margin:0 auto;}
.section .slidelist {white-space:nowrap;font-size:0;overflow:hidden;position:relative;}
.section .slidelist > li {display:inline-block;vertical-align:middle;width:100%;transition:all .5s;}
.section .slidelist > li > a {display:block;position:relative;}
.section .slidelist > li > a img {width:100%;}
.section .slidelist label {position:absolute;z-index:10;top:50%;transform:translateY(-50%);padding:50px;cursor:pointer;}
.section .slidelist .textbox {position:absolute;z-index:1;top:50%;left:50%;transform:translate(-50%,-50%);line-height:1.6;text-align:center;}
.section .slidelist .textbox h3 {font-size:36px;color:#fff;;transform:translateY(30px);transition:all .5s;}
.section .slidelist .textbox p {font-size:16px;color:#fff;opacity:0;transform:translateY(30px);transition:all .5s;}

/* input에 체크되면 슬라이드 효과 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {transform:translateX(0%);}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-100%);}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {transform:translateX(-200%);}

/* input에 체크되면 텍스트 효과 */
/* .section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;}
.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox h3 {opacity:1;transform:translateY(0);transition-delay:.2s;}
.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox p {opacity:1;transform:translateY(0);transition-delay:.4s;} */

/* 좌,우 슬라이드 버튼 */
.slide-control > div {display:none;}
.section .left {left:30px;background:url('left.png') center center / 100% no-repeat;}
.section .right {right:30px;background:url('right.png') center center / 100% no-repeat;}
.section input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {display:block;}
.section input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {display:block;}
.section input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {display:block;}

/* 페이징 */
.slide-pagelist {text-align:center;padding:20px;}
.slide-pagelist > li {display:inline-block;vertical-align:middle;}
.slide-pagelist > li > label {display:block;padding:8px 30px;border-radius:30px;background:#ccc;margin:20px 10px;cursor:pointer;}
.section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {background:rgb(247, 242, 242);color: black;}
.section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {background:rgb(247, 242, 242);color: black;}
.section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {background:rgb(247, 242, 242);color: black;}

* {margin:0;padding:0;}
.favorite-bukit{
display: flex;
width: 100%;
height: 100%;
flex-direction: row;
/* margin-top: 50px; */
justify-content: space-around;
}
.faimg{
width: 500px;
height: 500px;
}

ul,li{list-style:none;}* {margin:0;padding:0;}
.favorite-slider{width:500px;overflow:hidden;}
.favorite-slider ul{position:relative;height:600px;}
.favorite-slider li{position:absolute;left:0;right:0;bottom:0;top:0;opacity:0;animation:fade 6s infinite;}
/* .favorite-slider > li > img {width:100%;height: 100%;} */
.favorite-slider li:nth-child(1){animation-delay:0s}
.favorite-slider li:nth-child(2){animation-delay:1.5s}
.favorite-slider li:nth-child(3){animation-delay:3s}
.favorite-slider li:nth-child(4){animation-delay:4.5s}
/* 100 / 8 = 12.5 */
@keyframes fade {
0% {opacity:0;}
5% {opacity:1;}
25% {opacity:1;}
30% {opacity:0;}
100% {opacity:0;}
}
.footer{
  background-color: grey;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
}